In [3]:
import pandas as pd

df1 = pd.read_csv('data_otimo_total_2019.csv')
df2 = pd.read_csv('original.csv')

# Suponha que os DataFrames sejam df1 e df2
if df1.equals(df2):
    print("Os DataFrames são iguais.")
else:
    print("Os DataFrames são diferentes.")

Os DataFrames são iguais.

In [1]:
import pandas as pd
from pvlib import solarposition, tracking, solarposition
import numpy as np
import matplotlib.pyplot as plt
import pvlib
data = pd.read_csv('8871462_-22.06_-48.17_2019.csv', header=2)
data['datetime'] = pd.to_datetime(data[['Year','Month', 'Day', 'Hour', 'Minute']])
data['datetime_utc'] = data['datetime'].dt.tz_localize('UTC')
data['datetime_local'] = data['datetime_utc'].dt.tz_convert('America/Sao_Paulo')
data = data.iloc[4:].reset_index(drop=True)
display(data)

,Year,Month,Day,Hour,Minute,DHI,Temperature,Wind Speed,Solar Zenith Angle,Surface Albedo,GHI,DNI,datetime,datetime_utc,datetime_local
0,2019,1,1,2,0,0,20.7,0.6,128.30,0.17,0,0,2019-01-01 02:00:00,2019-01-01 02:00:00+00:00,2019-01-01 00:00:00-02:00
1,2019,1,1,2,30,0,20.6,0.5,124.36,0.17,0,0,2019-01-01 02:30:00,2019-01-01 02:30:00+00:00,2019-01-01 00:30:00-02:00
2,2019,1,1,3,0,0,20.5,0.5,119.80,0.17,0,0,2019-01-01 03:00:00,2019-01-01 03:00:00+00:00,2019-01-01 01:00:00-02:00
3,2019,1,1,3,30,0,20.5,0.5,114.73,0.17,0,0,2019-01-01 03:30:00,2019-01-01 03:30:00+00:00,2019-01-01 01:30:00-02:00
4,2019,1,1,4,0,0,20.5,0.5,109.28,0.17,0,0,2019-01-01 04:00:00,2019-01-01 04:00:00+00:00,2019-01-01 02:00:00-02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17511,2019,12,31,21,30,0,23.4,0.9,119.48,0.17,0,0,2019-12-31 21:30:00,2019-12-31 21:30:00+00:00,2019-12-31 18:30:00-03:00
17512,2019,12,31,22,0,0,23.1,0.9,124.08,0.17,0,0,2019-12-31 22:00:00,2019-12-31 22:00:00+00:00,2019-12-31 19:00:00-03:00
17513,2019,12,31,22,30,0,22.8,1.0,128.06,0.17,0,0,2019-12-31 22:30:00,2019-12-31 22:30:00+00:00,2019-12-31 19:30:00-03:00
17514,2019,12,31,23,0,0,22.5,1.0,131.27,0.17,0,0,2019-12-31 23:00:00,2019-12-31 23:00:00+00:00,2019-12-31 20:00:00-03:00
17515,2019,12,31,23,30,0,22.1,0.9,133.55,0.17,0,0,2019-12-31 23:30:00,2019-12-31 23:30:00+00:00,2019-12-31 20:30:00-03:00

In [2]:
angles = np.arange(-60, 61, 1)
latitude = -23.55052
longitude = -46.633308
altitude = 590
albedo = 0.08

In [3]:
solpos = solarposition.get_solarposition(data['datetime_local'], latitude, longitude)
display(solpos)
solpos.to_csv("solarposition.csv")

,apparent_zenith,zenith,apparent_elevation,elevation,azimuth,equation_of_time
datetime_local,,,,,,
2019-01-01 00:00:00-02:00,130.431269,130.431269,-40.431269,-40.431269,201.247715,-3.235491
2019-01-01 00:30:00-02:00,132.428602,132.428602,-42.428602,-42.428602,192.435013,-3.245391
2019-01-01 01:00:00-02:00,133.361499,133.361499,-43.361499,-43.361499,183.099195,-3.255288
2019-01-01 01:30:00-02:00,133.166114,133.166114,-43.166114,-43.166114,173.623787,-3.265183
2019-01-01 02:00:00-02:00,131.856204,131.856204,-41.856204,-41.856204,164.429482,-3.275076
...,...,...,...,...,...,...
2019-12-31 18:30:00-03:00,85.161122,85.330101,4.838878,4.669899,246.845935,-3.032026
2019-12-31 19:00:00-03:00,91.579861,91.579861,-1.579861,-1.579861,243.925505,-3.041970
2019-12-31 19:30:00-03:00,97.666672,97.666672,-7.666672,-7.666672,240.669099,-3.051912
2019-12-31 20:00:00-03:00,103.550002,103.550002,-13.550002,-13.550002,237.004479,-3.061851
2019-12-31 20:30:00-03:00,109.177629,109.177629,-19.177629,-19.177629,232.845735,-3.071789